@model DataBase.Member_Info
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/SysManage/Desk/Index">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#"><span>报单中心</span></a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="Detail">@ViewBag.Title<span>会员注册</span></a>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="font-green-sharp fa fa-user"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">@ViewBag.Title<span>注册会员</span></span>
                </div>
            </div>
            <div class="portlet-body">
                @using (Ajax.BeginForm("Save", null, new AjaxOptions()
                {
                    HttpMethod = "Post",
                    OnBegin = "SubAjax.Loading",
                    OnComplete = "SubAjax.Complate",
                    OnFailure = "SubAjax.Failure",
                    OnSuccess = "SubAjax.Success"
                }, new { @class = "form-horizontal", @role = "form", @id = "commentForm" }))
                {
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>会员编号：</label>
                            <div class="col-md-4">
                                <input type="hidden" name="MemberId" value="@Model.MemberId" />
                                <input type="text" name="Code" value="@Model.Code" class="form-control" ajaxurl="/Ajax/IsMemberId" datatype="*3-20" nullmsg="请输入会员编号" errormsg="会员编号至少3个字符,最多20个字符！" />
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>登录密码：</label>
                            <div class="col-md-4">
                                <input type="password" name="LoginPwd" id="LoginPwd" value="@Model.LoginPwd" class="form-control" datatype="*3-20" nullmsg="请输入登录密码" errormsg="密码范围在3-20位之间" >
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>确认登录密码：</label>
                            <div class="col-md-4">
                                <input type="password" name="LoginPwdC" value="" class="form-control" recheck="LoginPwd" datatype="*" nullmsg="请再输入一次登录密码" errormsg="两次输入的密码不一致" >
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>支付密码：</label>
                            <div class="col-md-4">
                                <input type="password" name="Pwd2" id="Pwd2" value="@Model.Pwd2" class="form-control" datatype="*3-20" nullmsg="请输入支付密码" errormsg="密码范围在3-20位之间" >
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>确认支付密码：</label>
                            <div class="col-md-4">
                                <input type="password" name="Pwd2C" value="" class="form-control" recheck="Pwd2" datatype="*" nullmsg="请再输入一次支付密码" errormsg="两次输入的支付密码不一致" >
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>推荐人编号：</label>
                            <div class="col-md-4">
                                <input type="text" name="RecommendCode" value="@Model.RecommendCode" class="form-control" ajaxurl="/Ajax/IsExistActivedMember" datatype="*3-20" nullmsg="请填写推荐人编号"  errormsg="推荐人编号3-20位！" />
                            </div>
                            <span></span>
                        </div>                
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>安置人编号：</label>
                            <div class="col-md-4">
                                <input type="text" name="UpperCode" value="@Model.UpperCode" id="UpperCode" class="form-control" ajaxurl="/Ajax/IsExistActivedMember" datatype="*1-20" nullmsg="请填写安置人编号" errormsg="安置人编号1-20位！" />
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>店主编号：</label>
                            <div class="col-md-4">
                                <input type="text" name="ServiceCenterCode" value="@Model.ServiceCenterCode" class="form-control" ajaxurl="/Ajax/IsExistServiceCenter" datatype="*3-20" nullmsg="请填写店主编号" errormsg="店主编号3-20位！" />
                            </div>
                            <span></span>
                        </div>       
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>位置：</label>
                            <div class="col-md-4">
                                <div class="mt-radio-inline">
                                    @{
                                        var pcheck1 = string.Empty;
                                        var pcheck2 = string.Empty;
                                        if (!string.IsNullOrEmpty(Model.Position))
                                        {
                                            if (Model.Position.Substring(Model.Position.Length - 1) == "1")
                                            {
                                                pcheck1 = " checked='checked' ";
                                            }
                                            else if (Model.Position.Substring(Model.Position.Length - 1) == "2")
                                            {
                                                pcheck2 = " checked='checked' ";
                                            }
                                            else
                                            {
                                                pcheck1 = " checked='checked' ";
                                            }
                                        }
                                    }
                                    <label class="mt-radio">
                                        <input type="radio" name="Position" value="1" checked="checked" @(pcheck1)> 左
                                        <span></span>
                                    </label>
                                    <label class="mt-radio">
                                        <input type="radio" name="Position" value="2" @(pcheck2)> 右
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>会员级别：</label>
                            <div class="col-md-4">
                                <select name="MemberLevelId" class="form-control select2" datatype="*" nullmsg="" >
                                    <option value="">请选择会员级别...</option>
                                    @{
                                        foreach (var item in ViewData["Level"] as dynamic)
                                        {
                                            if (Model.MemberLevelId == item.LevelId)
                                            {
                                                <option value="@item.LevelId" selected="selected">@item.LevelName</option>
                                            }
                                            else
                                            {
                                                <option value="@item.LevelId">@item.LevelName</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>姓名：</label>
                            <div class="col-md-4">
                                <input type="text" name="NickName" value="@Model.NickName" class="form-control" placeholder="请输入姓名" datatype="*2-10" nullmsg=""  errormsg="姓名输入汉字2-10个">
                            </div>
                            <span></span>
                        </div>
                        @*<div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>性别：</label>
                            <div class="col-md-4">
                                <div class="mt-radio-inline">
                                    <label class="mt-radio">
                                        <input type="radio" name="Sex" checked="checked" value="男" @(Model.Sex == "男" ? "checked" : "")> 男
                                        <span></span>
                                    </label>
                                    <label class="mt-radio">
                                        <input type="radio" name="Sex" value="女" @(Model.Sex == "女" ? "checked" : "")> 女
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <span></span>
                        </div>*@
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>手机号：</label>
                            <div class="col-md-4">
                                <input type="text" name="Mobile" value="@Model.Mobile" datatype="*0-15" class="form-control" errormsg="请填写手机号" >
                            </div>
                            <span></span>
                        </div>
                        @*<div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>省：</label>
                            <div class="col-md-4">
                                <select id="ProvId" name="ProvId" class="form-control select2" datatype="*" errormsg="请选择省" onchange="changeProv()">
                                    <option value="">请选择省...</option>
                                    @{
                                        foreach (var item in ViewData["Prov"] as dynamic)
                                        {
                                            if (Model.ProvId == item.id)
                                            {
                                                <option value="@item.id" selected="selected">@item.name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.id">@item.name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>市：</label>
                            <div class="col-md-4">
                                <select id="CityId" name="CityId" class="form-control select2" datatype="*" errormsg="请选择市" onchange="changeCity()">
                                    <option value="">请选择市...</option>
                                </select>
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red"></span>区：</label>
                            <div class="col-md-4">
                                <select id="CountyId" name="CountyId" class="form-control select2"  errormsg="请选择区">
                                    <option value="">请选择区...</option>
                                </select>
                            </div>
                            <span></span>
                        </div>*@
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red"></span>身份证：</label>
                            <div class="col-md-4">
                                <input type="text" name="IdCode" value="@Model.IdCode" class="form-control" datatype="*0-18" placeholder="请输入身份证" errormsg="身份证不正确" >
                            </div>
                            <span></span>
                        </div>
                        @*<div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red"></span>选择商品：</label>
                            <div class="col-md-4">
                                <select name="Pwd3" class="form-control select2" errormsg="请选择商品" >
                                    <option value="">请选择商品...</option>
                                    <option value="1.2米">1.2米</option>
                                    <option value="1.5米">1.5米</option>
                                    <option value="1.8米">1.8米</option>
                                    <option value="玉石沙发">玉石沙发</option>
                                    <option value="玉石床">玉石床</option>
                                </select>
                            </div>
                            <span></span>
                        </div>*@
                        @*<div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red"></span>银行名称：</label>
                            <div class="col-md-4">
                                <select name="BankName" class="form-control select2" nullmsg="" errormsg="请选择银行" >
                                    <option value="">请选择银行...</option>
                                    @{
                                        foreach (var item in ViewData["Banks"] as dynamic)
                                        {
                                            if (Model.BankName == item.BasicDataName)
                                            {
                                                <option value="@item.BasicDataName" selected="selected">@item.BasicDataName</option>
                                            }
                                            else
                                            {
                                                <option value="@item.BasicDataName">@item.BasicDataName</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red"></span>开户行：</label>
                            <div class="col-md-4">
                                <input type="text" name="OpenBank" value="@Model.OpenBank" class="form-control" errormsg="请填写开户行" >
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red"></span>地址：</label>
                            <div class="col-md-4">
                                <input type="text" name="BankAddress" value="@Model.BankAddress" class="form-control" errormsg="请填写开户行地址" >
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red"></span>户名：</label>
                            <div class="col-md-4">
                                <input type="text" name="BankAccount" value="@Model.BankAccount" class="form-control" errormsg="请填写户名" >
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red"></span>账号：</label>
                            <div class="col-md-4">
                                <input type="text" name="BankCode" value="@Model.BankCode" class="form-control" errormsg="请填写银行账号" >
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red"></span>支付宝：</label>
                            <div class="col-md-4">
                                <input type="text" name="Alipay" value="@Model.Alipay" class="form-control" errormsg="请填写支付宝">
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red"></span>微信：</label>
                            <div class="col-md-4">
                                <input type="text" name="WeiXin" value="@Model.WeiXin" class="form-control" errormsg="请填写微信">
                            </div>
                            <span></span>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red"></span>邮箱：</label>
                            <div class="col-md-4">
                                <input type="text" name="Email" value="@Model.Email" class="form-control" errormsg="请填写Email">
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red"></span>收货地址：</label>
                            <div class="col-md-4">
                                <input type="text" name="PostAddress" value="@Model.PostAddress" class="form-control" errormsg="请填写收货地址" >
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red"></span>QQ：</label>
                            <div class="col-md-4">
                                <input type="text" name="QQ" value="@Model.QQ" class="form-control" errormsg="请填写QQ" >
                            </div>
                            <span></span>
                        </div>*@
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" id="SubSave" class="btn green"><i class="fa fa-check"></i><span>保 存</span></button>
                                    <button type="button" class="btn default" onclick="window.history.back()"><i class="fa fa-mail-reply"></i>返回</button>
                                </div>
                            </div>
                        </div>
                    </div>
                                        }
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->
@section scripts{
    <script>
        function changeProv() {
            var id = $("#ProvId").val();
            $('#CityId').empty();
            $.post("/Ajax/GetCity", { id: id }, function (d) {
                $("#CityId").select2({
                    data: d, cache: true
                });
                changeCity();
            })
        }
        function changeCity() {
            var id = $("#CityId").val();
            $('#CountyId').empty();
            $.post("/Ajax/GetCounty", { id: id }, function (d) {
                $("#CountyId").select2({
                    data: d, cache: true
                });
            })
        }
    </script>
}