@model DataBase.Fin_Draw
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/SysManage/Desk/Index">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#"><span>财务管理</span></a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="/Member_Finance/Draw/Index"><span>提现申请</span></a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#"><span>申请信息</span></a>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="font-green-sharp fa fa-user"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">@ViewBag.Title<span>提现申请</span></span>
                </div>
            </div>
            <div class="portlet-body">
                @using (Ajax.BeginForm("Save", null, new AjaxOptions()
                {
                    HttpMethod = "Post",
                    OnBegin = "SubAjax.Loading",
                    OnComplete = "SubAjax.Complate",
                    OnFailure = "SubAjax.Failure",
                    OnSuccess = "SubAjax.Success"
                }, new { @class = "form-horizontal", @role = "form", @id = "commentForm" }))
                {
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>会员编号：</label>
                            <div class="col-md-4">
                                <input type="hidden" name="RemitId" value="@Model.DrawId" />
                                <input type="hidden" name="MemberCode" value="@Model.MemberCode" />
                                <input type="hidden" name="MemberId" value="@Model.MemberId" />
                                <input type="hidden" name="NickName" value="@Model.NickName" />
                                <input type="hidden" name="ServiceCenterCode" value="@Model.ServiceCenterCode" />
                                <input type="hidden" name="ServiceCenterId" value="@Model.ServiceCenterId" />
                                <input type="hidden" name="BankName" value="@Model.BankName" />
                                <input type="hidden" name="OpenBank" value="@Model.OpenBank" />
                                <input type="hidden" name="BankAddress" value="@Model.BankAddress" />
                                <input type="hidden" name="BankAccount" value="@Model.BankAccount" />
                                <input type="hidden" name="BankCode" value="@Model.BankCode" />
                                <input type="hidden" name="Commission" value="@ViewBag.Commission" />
                                <label class="control-label">@Model.MemberCode</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>银行名称：</label>
                            <div class="col-md-4">
                                <label class="control-label">@Model.BankName</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>开户行：</label>
                            <div class="col-md-4">
                                <label class="control-label">@Model.OpenBank</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>地址：</label>
                            <div class="col-md-4">
                                <label class="control-label">@Model.BankAddress</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>户名：</label>
                            <div class="col-md-4">
                                <label class="control-label">@Model.BankAccount</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>账号：</label>
                            <div class="col-md-4">
                                <label class="control-label">@Model.BankCode</label>
                            </div>
                        </div>
                        <div class="form-group text-left">
                            <div  style="color:red" class="col-md-offset-1">提示：现金将汇入以上账户，如账户信息错误点击 <a href="/Member_Member/Member/Index#tab3"> 这里 </a> 进行修改！</div> 
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>可用金额：</label>
                            <div class="col-md-4">
                                <label class="control-label">@ViewBag.Commission</label>
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>提现金额：</label>
                            <div class="col-md-4">
                                <input type="text" name="DrawAmount" value="@Model.DrawAmount" datatype="n1-10" class="form-control" errormsg="提现金额不正确，请输入整数">
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>支付密码：</label>
                            <div class="col-md-4">
                                <input type="password" name="Pwd2" value="" datatype="*" class="form-control" errormsg="请填写支付密码">
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red"></span>备注：</label>
                            <div class="col-md-4">
                                <textarea type="text" name="Comment" rows="5" class="form-control">@Model.Comment</textarea>
                            </div>
                            <span></span>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" id="SubSave" class="btn green"><i class="fa fa-check"></i><span>保 存</span></button>
                                    <button type="button" class="btn default" onclick="window.history.back()"><i class="fa fa-mail-reply"></i>返回</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->
