
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    var Path = "/Admin_Finance/Transfer/";
    var title = "会员转账";
    var timeFlag = "申请时间";
}

<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/SysManage/Home/Index">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#"><span>财务管理</span></a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="/Admin_Finance/Transfer/Index"><span>会员转账</span></a>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE CONTENT -->
<div class="row">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-database"></i>@(title)列表
                </div>
                <div class="tools">
                    <a style="color:white" onclick="ToExcel()" title="导出Excel"> <i class="fa fa-sign-out"></i>导出Excel </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <div class="table-toolbar col-md-3">                         
                    </div>
                    <form class="form form-horizontal form-inline">
                        <fieldset>
                            <div class="control-group">
                                <div class="controls">
                                    <div class="text-right">
                                        <div class="input-group col-md-6">
                                            <input type="text" value="" id="start" placeholder="@(timeFlag)起" class="form-control ">
                                            <span class="input-group-addon"> to </span>
                                            <input type="text" value="" id="end" placeholder="@(timeFlag)至" class="form-control ">
                                        </div>
                                        <div class="input-group col-md-3">
                                            <input type="text" class="form-control" placeholder="搜索关键字" id="keyword" />
                                            <span class="input-group-btn">
                                                <a class="btn btn-default" href="javascript:searchList();">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    
                </div>
                <div class="table-responsive">
                    <table id="datatable" class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th style="width:3%"><input type="checkbox" id='checkAll'></th>
                                <th>转出会员编号</th>
                                <th>转出会员姓名</th>
                                <th>转账金额</th>
                                <th>转账类型</th>
                                <th>转入会员编号</th>
                                <th>转入会员姓名</th>
                                <th>转账时间</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>

@section scripts {
    <script type="text/javascript">
        var oTable;
        var idField = "TransferId";
        var path = "@Path";
        var dataSource = path + "getDataSource";
        var isDetail = false;
        var searchData = function (e) {
            return {
                startTime: $("#start").val(),
                end: $("#end").val(),
                key: $("#keyword").val(),
                start: e.start,
                length: e.length,
                draw: e.draw
            }
        };
        var columns = [//绑定数据
            {
                data: idField,
                createdCell: function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html("<input type='checkbox' name='checkList' value='" + sData + "'>");
                }
            },
            { data: 'FromMemberCode' },
            { data: 'FromNickName' },
            { data: 'Amount' },
              {
                  data: 'TransferType',
                  createdCell: function (nTd, sData, oData, iRow, iCol) {
                      if (oData.TransferType == "收益币互转") {
                          $(nTd).html("<span class=\"label label-sm label-warning\"> " + oData.TransferType + " </span>")
                      } else {
                          $(nTd).html("<span class=\"label label-sm label-danger\"> " + oData.TransferType + " </span>")
                      }
                  }
              },
            { data: 'ToMemberCode' },
            { data: 'ToNickName' },
            { data: 'CreateTime' }
        ];
        function searchList() {
            oTable.ajax.reload(null, false);
        }
        $(function () {
            $('#start').datetimepicker({
                language: 'zh-CN',
                format: 'yyyy-mm-dd',
                autoclose: 1,
                minView: 2
            }).on('changeDate', function (ev) {
                var start = $('#start').val();
                $('#end').datetimepicker('setStartDate', start);
                $('#start').datetimepicker('hide');
            });
            $('#end').datetimepicker({
                language: 'zh-CN',
                format: 'yyyy-mm-dd',
                autoclose: 1,
                minView: 2
            }).on('changeDate', function (ev) {
                var end = $('#end').val();
                $('#start').datetimepicker('setEndDate', end);
                $('#end').datetimepicker('hide');
            });
        });
          function ToExcel() {
            var href = "@ViewBag.Path/ToExcel/会员转账记录列表?startTime=" + $("#start").val() + "&end=" + $("#end").val() + "&key=" + $("#keyword").val();
            window.open(href);
        }
    </script>
    <script src="~/assets/scripts/myListPage.js"></script>
}