@model DataBase.ShopExpress
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/SysManage/Home/Index">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#"><span>商城管理</span></a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#"><span>快递公司</span></a>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="font-green-sharp fa fa-user"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">@ViewBag.Title<span>快递公司</span></span>
                </div>
            </div>
            <div class="portlet-body">
                @using (Ajax.BeginForm("Save", null, new AjaxOptions()
                {
                    HttpMethod = "Post",
                    OnBegin = "SubAjax.Loading",
                    OnComplete = "SubAjax.Complate",
                    OnFailure = "SubAjax.Failure",
                    OnSuccess = "SubAjax.Success"
                }, new { @class = "form-horizontal", @role = "form", @id = "commentForm" }))
                {
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>快递公司：</label>
                            <div class="col-md-4">
                                <input type="hidden" name="ID" value="@Model.ID" />
                                <input type="text" name="Name" value="@Model.Name" class="form-control" nullmsg="请输入快递公司" datatype="*1-20" errormsg="快递公司不正确">
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>编号：</label>
                            <div class="col-md-4">
                                <input type="text" name="Code" value="@Model.Code" class="form-control" nullmsg="请输入编号" datatype="*0-20" errormsg="编号不正确">
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>运费：</label>
                            <div class="col-md-4">
                                <input type="text" name="Postage" value="@Model.Postage" class="form-control" nullmsg="请输入运费" datatype="*1-20" errormsg="运费不正确">
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red"></span>物流网址：</label>
                            <div class="col-md-4">
                                <input type="text" name="HomePage" value="@Model.HomePage" class="form-control" nullmsg="请输入物流网址"  errormsg="物流网址不正确">
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red"></span>是否启用：</label>
                            <div class="col-md-4">
                                <input type="checkbox" name="IsEnable" value="True" @(Model.IsEnable == true ? "checked=\"checked\")" : "")>
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red"></span>顺序：</label>
                            <div class="col-md-4">
                                <input type="text" name="Sort" value="@Model.Sort" class="form-control" nullmsg="请输入运费" datatype="n0-20" errormsg="运费不正确">
                            </div>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red">*</span>描述：</label>
                            <div class="col-md-4">
                                <textarea name="Description" rows="8" class="form-control" nullmsg="请输入品牌简介">@Model.Description</textarea>
                            </div>
                            <span></span>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" id="SubSave" class="btn green"><i class="fa fa-check"></i><span>保 存</span></button>
                                    <button type="button" class="btn default" onclick="window.history.back()"><i class="fa fa-mail-reply"></i>返回</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->
