@model DataBase.Member_Info
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/SysManage/Desk/Index">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">个人信息</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="/Member_Member/Member/Index"><span>个人资料管理</span></a>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            @*<div class="portlet-title">
                    <div class="caption">
                        <i class="font-green-sharp fa fa-user"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">@ViewBag.Title<span>注册会员</span></span>
                    </div>
                </div>*@
            <div class="portlet-body">
                @using (Ajax.BeginForm("Save", null, new AjaxOptions()
                {
                    HttpMethod = "Post",
                    OnBegin = "SubAjax.Loading",
                    OnComplete = "SubAjax.Complate",
                    OnFailure = "SubAjax.Failure",
                    OnSuccess = "SubAjax.Success"
                }, new { @class = "form-horizontal", @role = "form", @id = "commentForm" }))
                {
                    <div class="form-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab">会员信息</a></li>
                            <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab">会员业绩</a></li>
                            <li role="presentation"><a href="#tab3" role="tab" data-toggle="tab">账户信息</a></li>
                            <li role="presentation"><a href="#tab4" role="tab" data-toggle="tab">联系信息</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="tab1">
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red">*</span>会员编号：</label>
                                    <div class="col-md-4">
                                        <input type="hidden" name="MemberId" value="@Model.MemberId" />
                                        <input type="text" name="NickName" value="@Model.Code" disabled="disabled" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red">*</span>姓名：</label>
                                    <div class="col-md-4">
                                        <input type="text" name="NickName" value="@Model.NickName" class="form-control" readonly placeholder="请输入姓名" datatype="*2-10" nullmsg="" errormsg="姓名输入汉字2-10个">
                                    </div>
                                    <span></span>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red">*</span>性别：</label>
                                    <div class="col-md-4">
                                        <div class="mt-radio-inline">
                                            <label class="mt-radio">
                                                <input type="radio" name="Sex" checked="checked" value="男" @(Model.Sex == "男" ? "checked" : "")> 男
                                                <span></span>
                                            </label>
                                            <label class="mt-radio">
                                                <input type="radio" name="Sex" value="女" @(Model.Sex == "女" ? "checked" : "")> 女
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <span></span>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">身份证：</label>
                                    <div class="col-md-4">
                                        <input type="text" name="IdCode" value="@Model.IdCode" class="form-control" placeholder="请输入身份证" errormsg="身份证不正确">
                                    </div>
                                    <span></span>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>注册时间：</label>
                                    <div class="col-md-4">
                                        <label class="control-label"><span style="color:red"></span>@Model.CreateTime</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>最后登录时间：</label>
                                    <div class="col-md-4">
                                        <label class="control-label"><span style="color:red"></span>@Model.LastLogin</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>加盟资格：</label>
                                    <div class="col-md-4">
                                        <label class="control-label"><span style="color:red"></span>@Model.MemberLevelName</label>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>推荐人编号：</label>
                                    <div class="col-md-4">
                                        <label class="control-label"><span style="color:red"></span>@ViewBag.RecommendId</label>
                                    </div>
                                </div>*@
                                @*<div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>安置人编号：</label>
                                    <div class="col-md-4">
                                        <label class="control-label"><span style="color:red"></span>@Model.UpperCode</label>
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>店主编号：</label>
                                    <div class="col-md-4">
                                        <label class="control-label"><span style="color:red"></span>@Model.ServiceCenterCode</label>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tab2">
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>推荐人数：</label>
                                    <div class="col-md-4">
                                        <label class="control-label"><span style="color:red"></span>@ViewBag.RCount</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>收益余额：</label>
                                    <div class="col-md-4">
                                        <label class="control-label"><span style="color:red"></span>@Model.Commission</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>累计收益：</label>
                                    <div class="col-md-4">
                                        <label class="control-label"><span style="color:red"></span>@Model.CommissionSum</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>报单积分：</label>
                                    <div class="col-md-4">
                                        <label class="control-label"><span style="color:red"></span>@Model.Coins</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>推广奖：</label>
                                    <div class="col-md-4">
                                        <label class="control-label"><span style="color:red"></span>@Model.ShopCoins</label>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>积分：</label>
                                    <div class="col-md-4">
                                        <label class="control-label"><span style="color:red"></span>@Model.Scores</label>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>旅游积分：</label>
                                    <div class="col-md-4">
                                        <label class="control-label"><span style="color:red"></span>@Model.TourScores</label>
                                    </div>
                                </div>*@
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tab3">
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>银行名称：</label>
                                    <div class="col-md-4">
                                        <select name="BankName" class="form-control select2" nullmsg="" errormsg="请选择银行">
                                            <option value="">请选择银行...</option>
                                            @{
                                                foreach (var item in ViewData["Banks"] as dynamic)
                                                {
                                                    if (Model.BankName == item.BasicDataName)
                                                    {
                                                        <option value="@item.BasicDataName" selected="selected">@item.BasicDataName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.BasicDataName">@item.BasicDataName</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <span></span>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>开户行：</label>
                                    <div class="col-md-4">
                                        <input type="text" name="OpenBank" value="@Model.OpenBank" class="form-control" errormsg="请填写开户行">
                                    </div>
                                    <span></span>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>地址：</label>
                                    <div class="col-md-4">
                                        <input type="text" name="BankAddress" value="@Model.BankAddress" class="form-control" errormsg="请填写开户行地址">
                                    </div>
                                    <span></span>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>户名：</label>
                                    <div class="col-md-4">
                                        <input type="text" name="BankAccount" value="@Model.BankAccount" class="form-control" errormsg="请填写户名">
                                    </div>
                                    <span></span>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>账号：</label>
                                    <div class="col-md-4">
                                        <input type="text" name="BankCode" value="@Model.BankCode" class="form-control" errormsg="请填写银行账号">
                                    </div>
                                    <span></span>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>支付宝：</label>
                                    <div class="col-md-4">
                                        <input type="text" name="Alipay" value="@Model.Alipay" class="form-control" errormsg="请填写支付宝">
                                    </div>
                                    <span></span>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>微信：</label>
                                    <div class="col-md-4">
                                        <input type="text" name="WeiXin" value="@Model.WeiXin" class="form-control" errormsg="请填写微信">
                                    </div>
                                    <span></span>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tab4">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">省：</label>
                                    <div class="col-md-4">
                                        <select id="ProvId" name="ProvId" class="form-control select2" errormsg="请选择省" onchange="changeProv()">
                                            <option value="">请选择省...</option>
                                            @{
                                                foreach (var item in ViewData["Prov"] as dynamic)
                                                {
                                                    if (Model.ProvId == item.id)
                                                    {
                                                        <option value="@item.id" selected="selected">@item.name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.id">@item.name</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <span></span>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>市：</label>
                                    <div class="col-md-4">
                                        <select id="CityId" name="CityId" class="form-control select2" errormsg="请选择市" onchange="changeCity()">                                            
                                            @{
                                                foreach (var item in ViewData["City"] as dynamic)
                                                {
                                                    if (Model.CityId == item.id)
                                                    {
                                                        <option value="@item.id" selected="selected">@item.name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.id">@item.name</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <span></span>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>区：</label>
                                    <div class="col-md-4">
                                        <select id="CountyId" name="CountyId" class="form-control select2" errormsg="请选择区">
                                            @{
                                                foreach (var item in ViewData["County"] as dynamic)
                                                {
                                                    if (Model.CountyId == item.id)
                                                    {
                                                        <option value="@item.id" selected="selected">@item.name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.id">@item.name</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <span></span>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>手机号：</label>
                                    <div class="col-md-4">
                                        <input type="text" name="Mobile" value="@Model.Mobile" class="form-control" errormsg="请填写手机号">
                                    </div>
                                    <span></span>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>邮箱：</label>
                                    <div class="col-md-4">
                                        <input type="text" name="Email" value="@Model.Email" class="form-control" errormsg="请填写Email">
                                    </div>
                                    <span></span>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>收货地址：</label>
                                    <div class="col-md-4">
                                        <input type="text" name="PostAddress" value="@Model.PostAddress" class="form-control" errormsg="请填写收货地址">
                                    </div>
                                    <span></span>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span>QQ：</label>
                                    <div class="col-md-4">
                                        <input type="text" name="QQ" value="@Model.QQ" class="form-control" errormsg="请填写QQ">
                                    </div>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" id="SubSave" class="btn green"><i class="fa fa-check"></i><span>保 存</span></button>
                                    <button type="button" class="btn default" onclick="window.history.back()"><i class="fa fa-mail-reply"></i>返回</button>
                                </div>
                            </div>
                        </div>
                    </div>
                                                }
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->
@section scripts{
    <script>
        function changeProv() {
            var id = $("#ProvId").val();
            $('#CityId').empty();
            $.post("/Ajax/GetCity", { id: id }, function (d) {
                $("#CityId").select2({
                    data: d, cache: true
                });
                changeCity();
            })
        }
        function changeCity() {
            var id = $("#CityId").val();
            $('#CountyId').empty();
            $.post("/Ajax/GetCounty", { id: id }, function (d) {
                $("#CountyId").select2({
                    data: d, cache: true
                });
            })
        }
    </script>
}