@using Business
@using DataBase
@model ShopOrder
@{
    ViewBag.Title = "我的订单";
    //获取当前登录用户
    Member_Info curUser = User_Shop.GetMember_Info();
    Layout = "~/Views/Shared/_LayoutPageMy0915.cshtml";
    ////获取数量
    //int daifukuanCount = DB.ShopOrder.GetCount(curUser.MemberId, 1);
    //int daifahuoCount = DB.ShopOrder.GetCount(curUser.MemberId, 2);
    //int daishouhuoCount = DB.ShopOrder.GetCount(curUser.MemberId, 3);
}
<div class="container">
    <div class="userTop">
        <div class="setBox"><a  href="@Url.Action("Info")"><img src="~/assets/jnwz200915/images/user_sz.png"></a></div>
        <div class="dataBox">
            <div class="picBox headimg" style="height:1.2rem">

                <img src="@Url_Mobile.GetImg(curUser.AppellationLeveName)" style="height:100%;width:100%" id="previewBox">
                <input type="hidden" id="AppellationLeveName" name="AppellationLeveName" value="@curUser.AppellationLeveName" />

                @*<img class="layui-upload-img" src="@Url_Mobile.GetImg(curUser.AppellationLeveName)" id="previewBox">*@
            </div>
            <div class="txtBox">
                <p>@curUser.NickName <span>@curUser.MemberLevelName</span></p>
                <p style="display: inline-block;
    font-size: .25rem;
    color: #FF0000;
    padding: .07rem .2rem;
    background: #fff;
    border-radius: 1rem;
    margin: .12rem 0;">@curUser.Code</p> <br/>
                <p >@curUser.RecommendCode</p>
            </div>
        </div>
    </div>
    <div class="userListBox userListBox1">
        <ul class="OptList4 userList ">
            <li class="OptListli">
                <a href="/mobile/mobilecenter/liushui/1">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList1-1.png"></div>
                    <p>余额</p>
                </a>
            </li>
            <li class="OptListli">
                <a href="/mobile/mobilecenter/liushui/6">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList1-4.png"></div>
                    <p>奖金</p>
                </a>
            </li>
            <li class="OptListli">
                <a href="/mobile/mobilecenter/liushui/2">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList1-2.png"></div>
                    <p>团队业绩</p>
                </a>
            </li>
            <li class="OptListli">
                <a href="/mobile/mobilecenter/liushui/3">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList1-3.png"></div>
                    <p>分红业绩</p>
                </a>
            </li>
            
        </ul>
    </div>
    <div class="userListBox ">
        <p>我的订单 <a href="@Url.Action("Bill", new { type = 1 })">全部</a></p>
        <ul class="OptList4 userList">

            <li class="OptListli">
                <a href="@Url.Action("Bill", new { type = 1 })">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList2-1.png"></div>
                    <p>待支付</p>
                </a>
            </li>
            <li class="OptListli">
                <a href="@Url.Action("Bill", new { type = 2 })">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList2-2.png"></div>
                    <p>待发货</p>
                </a>
            </li>
            <li class="OptListli">
                <a href="@Url.Action("Bill", new { type = 3})">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList2-3.png"></div>
                    <p>已发货</p>
                </a>
            </li>
            <li class="OptListli">
                <a href="@Url.Action("Bill", new { type = 10 })">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList2-4.png"></div>
                    <p>已收货</p>
                </a>
            </li>
        </ul>
    </div>
    @*<div class="userListBox">
            <p>我的小铺</p>
            <ul class="OptList4 userList">
                <li class="OptListli">
                    <a href="vipApply.html">
                        <div class="picBox"><img src="~/assets/jnwz200915/images/userList3-1.png"></div>
                        <p>申请VIP</p>
                    </a>
                </li>
                <li class="OptListli">
                    <a href="">
                        <div class="picBox"><img src="~/assets/jnwz200915/images/userList3-2.png"></div>
                        <p>待寄卖</p>
                    </a>
                </li>
                <li class="OptListli">
                    <a href="">
                        <div class="picBox"><img src="~/assets/jnwz200915/images/userList3-3.png"></div>
                        <p>寄卖中</p>
                    </a>
                </li>
                <li class="OptListli">
                    <a href="">
                        <div class="picBox"><img src="~/assets/jnwz200915/images/userList3-4.png"></div>
                        <p>已完成</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="userListBox">
            <p>常用功能</p>
            <ul class="OptList4 userList">
                <li class="OptListli">
                    <a href="">
                        <div class="picBox"><img src="~/assets/jnwz200915/images/userList4-1.png"></div>
                        <p>每日签到</p>
                    </a>
                </li>
                <li class="OptListli">
                    <a href="">
                        <div class="picBox"><img src="~/assets/jnwz200915/images/userList4-2.png"></div>
                        <p>幸运转盘</p>
                    </a>
                </li>
                <li class="OptListli">
                    <a href="buyPermit.html">
                        <div class="picBox"><img src="~/assets/jnwz200915/images/userList4-3.png"></div>
                        <p>购买通证</p>
                    </a>
                </li>
                <li class="OptListli">
                    <a href="">
                        <div class="picBox"><img src="~/assets/jnwz200915/images/userList4-4.png"></div>
                        <p>交易大厅</p>
                    </a>
                </li>
                <li class="OptListli">
                    <a href="">
                        <div class="picBox"><img src="~/assets/jnwz200915/images/userList4-5.png"></div>
                        <p>我的买单</p>
                    </a>
                </li>
                <li class="OptListli">
                    <a href="">
                        <div class="picBox"><img src="~/assets/jnwz200915/images/userList4-6.png"></div>
                        <p>我的卖单</p>
                    </a>
                </li>
                <li class="OptListli">
                    <a href="">
                        <div class="picBox"><img src="~/assets/jnwz200915/images/userList4-7.png"></div>
                        <p>收款方式</p>
                    </a>
                </li>
            </ul>
        </div>*@
    <div class="userListBox">
        <p>我的服务</p>
        <ul class="OptList4 userList">
            <li class="OptListli">
                <a href="/mobile/mobilecenter/liushui/4">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList4-1.png"></div>
                    <p>突出贡献业绩</p>
                </a>
            </li>
            <li class="OptListli">
                <a href="/mobile/mobilecenter/address">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList5-1.png"></div>
                    <p>收货地址</p>
                </a>
            </li>
            @*<li class="OptListli">
            <a href="myTracks.html">
                <div class="picBox"><img src="~/assets/jnwz200915/images/userList5-2.png"></div>
                <p>我的足迹</p>
            </a>
        </li>*@
            <li class="OptListli">
                <a href="/mobile/mobilecenter/collect">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList5-3.png"></div>
                    <p>我的收藏</p>
                </a>
            </li>
            <li class="OptListli">
                <a href="/mobile/mobilecenter/appindex">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList5-4.png"></div>
                    <p>我的店铺</p>
                </a>
            </li>
            <li class="OptListli">
                <a href="/Mobile/MobileCenter/PwdInfo">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList5-5.png"></div>
                    <p>安全中心</p>
                </a>
            </li>
            <li class="OptListli">
                <a href="@Url.Action("News")">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList5-6.png"></div>
                    <p>系统公告</p>
                </a>
            </li>
            @*<li class="OptListli">
            <a href="kefu.html">
                <div class="picBox"><img src="~/assets/jnwz200915/images/userList5-7.png"></div>
                <p>投诉建议</p>
            </a>
        </li>*@
            <li class="OptListli">
                <a href="/mobile/mobilecenter/link">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList5-8.png"></div>
                    <p>推广中心</p>
                </a>
            </li>
            <li class="OptListli">
                <a href="/mobile/mobilecenter/bonus">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList4-3.png"></div>
                    <p>奖金明细</p>
                </a>
            </li>
            <li class="OptListli">
                <a href="/mobile/mobilecenter/convert">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList5-9.png"></div>
                    <p>我要充值</p>
                </a>
            </li>
            <li class="OptListli">
                <a href="/mobile/mobilecenter/draw">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList5-10.png"></div>
                    <p>我要提现</p>
                </a>
            </li>
            <li class="OptListli">
                <a href="/mobile/mobilecenter/transfer">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList4-2.png"></div>
                    <p>会员互转</p>
                </a>
            </li>
            <li class="OptListli">
                <a href="/mobile/mobilecenter/zhuanhuan">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList4-4.png"></div>
                    <p>货币转换</p>
                </a>
            </li>
            <li class="OptListli">
                <a href="/mobile/mobilecenter/promotion">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList5-11.png"></div>
                    <p>我的好友</p>
                </a>
            </li>
            <li class="OptListli">
                <a href="/mobile/mobilecenter/liushui/5">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList4-7.png"></div>
                    <p>我的业绩</p>
                </a>
            </li>
            <li class="OptListli">
                <a href="@Url.Action("Info")">
                    <div class="picBox"><img src="~/assets/jnwz200915/images/userList5-12.png"></div>
                    <p>个人资料</p>
                </a>
            </li>
            @*<li class="OptListli">
            <a href="redPacket.html">
                <div class="picBox"><img src="~/assets/jnwz200915/images/userList5-13.png"></div>
                <p>红包</p>
            </a>
        </li>*@
        </ul>
    </div>
    <!-- 底部 -->
    <div class="pd_btm"></div>

</div>
<ul class="headSelect" style="bottom:1rem">
    <li>相机</li>
    <li id="photo-btn">选择图片</li>
    <li class="cancel">取消</li>
</ul>
<div class="productDetailArtBg"></div>
<div class="bgColor"></div>
<script>
    //$('.headimg').click(function () {
    //    $('.productDetailArtBg').show();
    //    $('.headSelect').slideDown(200);
    //})
    //$('.cancel,.productDetailArtBg').click(function () {
    //    $('.headSelect').slideUp(200);
    //    $('.productDetailArtBg').hide();
    //});
    layui.use('upload', function () {
        var $ = layui.jquery,
            upload = layui.upload;
        //普通图片上传
        var uploadInst = upload.render({
            elem: '.headimg' //绑定元素
            , url: "/mobile/mobilecenter/SaveImage"
            , exts: 'jpg|png|gif|bmp|jpeg'
            , number: 1
            , before: function (obj) {
                //预读本地文件，需要IE9及以上版本
                obj.preview(function (index, file, result) {
                    $('#previewBox').attr('src', result); //图片链接（base64）
                    $('.headSelect').slideUp(200);
                    $('.productDetailArtBg').hide();
                });
            }
            //, acceptMime: 'image/jpg, image/png'
            , done: function (data) {
                //如果上传失败
                if (data.Code != 0) {
                    return layer.msg(data.Message);
                }
                //上传成功
                else {
                    //设置图片地址
                    $("#AppellationLeveName").val(data.Data.src);
                    $.post('@Url.Action("UpdateImg")', { img: data.Data.src}, function (data) { });
                    return layer.msg("修改头像成功");
                }
            }
            , error: function (err) {
                console.info(err);
            }
        });

    });
</script>