
@{
    Layout = "~/Views/Shared/_LayoutPage0915.cshtml";
}
@{
    if (ViewBag.webstatus == "维护" || ViewBag.webstatus == "关闭")
    {
        @:<p>@Html.Raw(DB.XmlConfig.XmlSite.webclosereason) </p>
    }
    else
    {

        using (Ajax.BeginForm("CheckUser", null, new AjaxOptions()
        {

            HttpMethod = "Post",
            OnBegin = "dig.Loading",
            OnSuccess = "dig.Success",
            OnFailure = "dig.Failure",
            OnComplete = "dig.Complete"
        }, new { @class = "login-form", autocomplete = "off" }))
        {
<div class="container loginContainer">
    <div class="loginBox">
        <ul class="loginList">
            <li>
                <i class="iconfont icon-yonghu"></i>
                <input type="text" name="UserName" id="UserName" value="@ViewBag.LogName" placeholder="请输入账号" />
            </li>
            <li>
                <i class="iconfont icon-mima"></i>
                <input type="password" name="Password" id="Password" value="@ViewBag.PassWord" placeholder="请输入密码" />
            </li>

            @if (ViewBag.chkState == "on")
            {
                <input type="checkbox" style="width:14px;margin-left: 10px;-webkit-appearance:checkbox" name="chkState" checked />
                <span style="color:black">记住账号密码</span>
            }
            else
            {
                <input type="checkbox" style="width:14px;margin-left: 10px;-webkit-appearance:checkbox" name="chkState" />
                <span style="color:black">记住账号密码</span>
            }

        </ul>
        <div class="btnbox">
            <button class="btn_org" id="btnLogin">登录</button>
        </div>
        <div class="loginTitle">
            <div></div>
            <p>没有账号？</p>
            <div></div>
        </div>
        <div class="btnbox">
            <a href="/mobile/memberlogin/register" class="btn_gay">去注册</a> &nbsp;&nbsp;&nbsp;  <a href="/mobile/memberlogin/pwd" class="btn_gay">找回密码</a> &nbsp;&nbsp;&nbsp;

           


        </div>
        <div class="loginTitle" style="display:block;text-align:center">
            <p>网址www.jst1314.cn</p>
            <p>ICP备案【鲁ICP备2020041913】</p>
        </div>

        </div>

    </div>
           
            <div class="loginBg">

            </div>
            <div class="bgColor">
                <div>

                </div>
            </div>

        }
    }
}

<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form,
            laydate = layui.laydate;
    });
</script>
<script type="text/javascript">

        var dig = {
            Loading: function () {
                $("#btnLogin").attr("disabled", true).find("span").html("@("正在登录中")...");
            },
            Success: function (result) {
                if (result.status == 1) {
                    showurl(result.msg,  "/mobile/mindex/index");
                } else {
                    show(result.msg);
                    ////alert(result.msg);
                    //swal({
                    //    title: "错误提示",
                    //    text: result.Msg,
                    //    type: "error"
                    //})
                    ////$("#eMsg").show().html(result.Msg);
                    dig.Complete();
                }
            },
            Failure: function () {
                $("#eMsg").show().html(result.msg);
                dig.Complete();
            },
            Complete: function () {
                $("#btnLogin").attr("disabled", false).find("span").html(" @("登") @("录") ");
            }
        };

</script>
